In [2]:
# Install the client library and import necessary modules.
!pip install google-generativeai
import google.generativeai as palm
import base64
import json
import pprint
import pandas as pd

Requirement already satisfied: google-generativeai in c:\users\rex milton s\anaconda3\lib\site-packages (0.2.2)
Requirement already satisfied: tqdm in c:\users\rex milton s\anaconda3\lib\site-packages (from google-generativeai) (4.64.0)
Requirement already satisfied: google-auth in c:\users\rex milton s\anaconda3\lib\site-packages (from google-generativeai) (2.23.4)
Requirement already satisfied: protobuf in c:\users\rex milton s\anaconda3\lib\site-packages (from google-generativeai) (3.20.3)
Requirement already satisfied: google-ai-generativelanguage==0.3.3 in c:\users\rex milton s\anaconda3\lib\site-packages (from google-generativeai) (0.3.3)
Requirement already satisfied: google-api-core in c:\users\rex milton s\anaconda3\lib\site-packages (from google-generativeai) (2.14.0)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.22.0 in c:\users\rex milton s\anaconda3\lib\site-packages (from google-ai-generativelanguage==0.3.3->google-generativeai) (1.22.3)
Requirement already satisfied: requests<3.0.0.dev0,>=2.18.0 in c:\users\rex milton s\anaconda3\lib\site-packages (from google-api-core->google-generativeai) (2.27.1)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in c:\users\rex milton s\anaconda3\lib\site-packages (from google-api-core->google-generativeai) (1.61.0)
Requirement already satisfied: grpcio<2.0dev,>=1.33.2 in c:\users\rex milton s\anaconda3\lib\site-packages (from google-api-core->google-generativeai) (1.59.3)
Requirement already satisfied: grpcio-status<2.0.dev0,>=1.33.2 in c:\users\rex milton s\anaconda3\lib\site-packages (from google-api-core->google-generativeai) (1.59.3)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\rex milton s\anaconda3\lib\site-packages (from google-auth->google-generativeai) (4.7.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\rex milton s\anaconda3\lib\site-packages (from google-auth->google-generativeai) (0.2.8)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\rex milton s\anaconda3\lib\site-packages (from google-auth->google-generativeai) (4.2.2)
Collecting protobuf
  Using cached protobuf-4.25.1-cp39-cp39-win_amd64.whl (413 kB)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\rex milton s\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth->google-generativeai) (0.4.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\rex milton s\anaconda3\lib\site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core->google-generativeai) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\rex milton s\anaconda3\lib\site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core->google-generativeai) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\rex milton s\anaconda3\lib\site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core->google-generativeai) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\rex milton s\anaconda3\lib\site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core->google-generativeai) (1.26.9)
Requirement already satisfied: colorama in c:\users\rex milton s\anaconda3\lib\site-packages (from tqdm->google-generativeai) (0.4.4)
Installing collected packages: protobuf
  Attempting uninstall: protobuf
    Found existing installation: protobuf 3.20.3
    Uninstalling protobuf-3.20.3:
      Successfully uninstalled protobuf-3.20.3
Successfully installed protobuf-4.25.1

WARNING: Ignoring invalid distribution -rotobuf (c:\users\rex milton s\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\rex milton s\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\rex milton s\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\rex milton s\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\rex milton s\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\rex milton s\anaconda3\lib\site-packages)
    WARNING: Ignoring invalid distribution -rotobuf (c:\users\rex milton s\anaconda3\lib\site-packages)
    WARNING: Ignoring invalid distribution - (c:\users\rex milton s\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\rex milton s\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\rex milton s\anaconda3\lib\site-packages)
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tensorflow 2.9.1 requires protobuf<3.20,>=3.9.2, but you have protobuf 4.25.1 which is incompatible.
tensorboard 2.9.1 requires protobuf<3.20,>=3.9.2, but you have protobuf 4.25.1 which is incompatible.
mysql-connector-python 8.0.32 requires protobuf<=3.20.3,>=3.11.0, but you have protobuf 4.25.1 which is incompatible.
WARNING: Ignoring invalid distribution -rotobuf (c:\users\rex milton s\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\rex milton s\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\rex milton s\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\rex milton s\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\rex milton s\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\rex milton s\anaconda3\lib\site-packages)

In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\rex milton s\anaconda3\lib\site-packages (8.0.32)
Collecting protobuf<=3.20.3,>=3.11.0
  Using cached protobuf-3.20.3-cp39-cp39-win_amd64.whl (904 kB)
Installing collected packages: protobuf
  Attempting uninstall: protobuf
    Found existing installation: protobuf 4.25.1
    Uninstalling protobuf-4.25.1:
      Successfully uninstalled protobuf-4.25.1
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -rotobuf (c:\users\rex milton s\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\rex milton s\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\rex milton s\anaconda3\lib\site-packages)
    WARNING: Ignoring invalid distribution -rotobuf (c:\users\rex milton s\anaconda3\lib\site-packages)
ERROR: Could not install packages due to an OSError: [WinError 5] Access is denied: 'C:\\Users\\Rex Milton S\\anaconda3\\Lib\\site-packages\\google\\~-pb\\_message.cp39-win_amd64.pyd'
Consider using the `--user` option or check the permissions.

WARNING: Ignoring invalid distribution -rotobuf (c:\users\rex milton s\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\rex milton s\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\rex milton s\anaconda3\lib\site-packages)

In [3]:
pip install PyPDF2

Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -rotobuf (c:\users\rex milton s\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\rex milton s\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\rex milton s\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\rex milton s\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\rex milton s\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\rex milton s\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\rex milton s\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\rex milton s\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\rex milton s\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\rex milton s\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\rex milton s\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\rex milton s\anaconda3\lib\site-packages)

Requirement already satisfied: PyPDF2 in c:\users\rex milton s\anaconda3\lib\site-packages (3.0.1)
Requirement already satisfied: typing_extensions>=3.10.0.0 in c:\users\rex milton s\anaconda3\lib\site-packages (from PyPDF2) (4.1.1)

In [5]:
# Configure the client library by providing your API key.
palm.configure(api_key="AIzaSyA1HwkfN_9cH2hF1KJc54OBNm_m321ImN4")

In [6]:
name_prompt = '''You are an AI expert in analyzing text extracted from resumes.
                With the text extracted from resume as your input, give the output as the name of the candidate [For example: SINEGALATHA B],
                Does not include any unnecessary words or sentence.'''

contact_prompt = '''You are an AI expert in analyzing text extracted from resumes.
                 With the text extracted from resume as your input, give the output as contact number of the candidate.
                 If not present, don't hallucinate and create new contact number. 
                 Does not include any unnecessary words or sentence.'''

email_prompt = '''You are an AI expert in analyzing text extracted from resumes.
                With the text extracted from resume as your input, give the output as email ID of the candidate.
                If not present, don't hallucinate and create new email ID. 
                Does not include any unnecessary words or sentence.'''

media_profile_prompt = '''You are an AI expert in analyzing text extracted from resumes.
                    With the text extracted from resume as your input, give the output as Social media profile (like linkedin, instagram, github or any portfolio) of the candidate as it is mentioned in the resume.
                    If not present, don't hallucinate and create new profile links. 
                    Does not include any unnecessary words or sentence.'''

hobbies_prompt ='''You are an AI expert in analyzing text extracted from resumes.
                    I will provide the text extracted from candidate's Resume. 
                    Give the output as a string with each hobbies that should not be technical stuffs as specified or mentioned in the resume separated by commas.  
                    If not present, don't hallucinate and create your own hobbies. Kindly return empty string if not presents. 
                    Does not include any unnecessary words or sentence.'''

Area_of_interest_prompt ='''You are an AI expert in analyzing text extracted from resumes.
                    I will provide the text extracted from candidate's Resume. 
                    Give the output as a string with technical skills like python,sap,etc.. where the candidate is technically more strong as specified or mentioned in the resume separated by commas.  
                    Does not include any unnecessary words or sentence.'''

Technical_skills_prompt ='''You are an AI expert in analyzing text extracted from resumes.
                    I will provide the text extracted from candidate's Resume. 
                    Give the output as a string with each technical skill separated by commas.  
                    Does not include any unnecessary words or sentence.'''

Interpersonal_skills_prompt = '''You are an AI expert in analyzing text extracted from resumes.
                    I will provide the text extracted from candidate's Resume. 
                    Give the output as a string with each interpersonal skill separated by commas.  
                    Does not include any unnecessary words or sentence.'''

Professional_experience_prompt='''You are an AI expert in analyzing text extracted from resumes.
                    I will provide the text extracted from candidate's Resume. List out the previous work experience of the 
                    candidate and based on that give me the output in json format as {Company:name of the company mentioned by candidate,
                    Designation:designation of the candidate there,Duration:duration of experience in that company,Description:job details}. 
                    Don't hallucinate and create any new detail that is not already mentioned in the resume.
                    If there is no professional experience return empty for all values. 
                    For internship experience, keep the designation as intern'''

Project_experience_prompt = '''You are an AI expert in analyzing text extracted from resumes. 
                        If any project details are mentioned in the resume , then return the output in the json format
                        {'Project Name': The full name of the project as mentioned in the text, 
                        'Duration': The start and end dates of the project, if provided. If not explicitly stated, indicate " " for the duration, 
                        'Description': A brief summary of the project's objectives, scope, and outcomes, extracted from the text. If a detailed description is unavailable, indicate "Description not available" or provide a concise summary based on the available information, 
                        'Client' : The name of the client or organization for which the project was undertaken. If the client's name is not explicitly mentioned, indicate " "}
                        The output should be in json format.'''
Certification_prompt='''You are an AI expert in analyzing text extracted from resumes. 
            If any certifications are mentioned in the resume , then return the output in the json format
            {'Certificate_Name': The full name of the Certification as mentioned in the text, 
            'Issuer' : The name of the issuer or organization who have provided the course. If the issuer's name is not explicitly mentioned, indicate " "}
            The output should be in json format.'''
Educational_Qualifications_prompt='''You are an AI expert in analyzing text extracted from resumes.
                                      I will provide the text extracted from candidate's Resume. 
                                      List out the Educational Qualifications of the candidate and based on that give me the output in json format as 
                                        {University/School:name of the University/school mentioned by candidate,
                                        Qualification: name of degree like BE,MCA,ect. or name of Standard like X,XII,
                                        CGPA/Percentage: CGPA/Percentage secured in qualification if it mentioned. If the grade is not explicitly mentioned, indicate " "}
                                        Year_of_Completion: Year when the course is completed if it mentioned. If the Year of completion is not explicitly mentioned, indicate " "
                                        }. 
                                        Don't hallucinate and create any new detail that is not already mentioned in the resume.
                                        If there is no educational qualifications of candidate presents return empty for all values.The output should be in json format.'''

In [7]:
#Defining Configuration

model:'models/text-bison-001'
temperature:0
candidate_count:1
top_k:40
top_p:0.95
max_output_tokens:1024

In [8]:
def name_extraction(transcription):
    print("NAME")
    name_response = palm.generate_text(
        prompt=name_prompt + "\n" + "Paragraph:" + transcription
    )
    name = name_response.candidates[0]['output']
    print(name)
    return name

In [9]:
def contact_extraction(transcription):
    print("CONTACT NUMBER")
    contact_response = palm.generate_text(
        prompt=contact_prompt + "\n" + "Paragraph:" + transcription
    )
    contact = contact_response.candidates[0]['output']
    print(contact)
    return contact

In [10]:
def email_extraction(transcription):
    print("EMAIL")
    email_response = palm.generate_text(
        prompt=email_prompt + "\n" + "Paragraph:" + transcription
    )
    email = email_response.candidates[0]['output']
    print(email)
    return email

In [11]:
def social_extraction(transcription):
    print("SOCIAL MEDIA PROFILE")
    media_response = palm.generate_text(
        prompt=media_profile_prompt + "\n" + "Paragraph:" + transcription
    )
    media = media_response.candidates[0]['output']
    print(media)
    return media

In [12]:
def hobbies_extraction(transcription):
    print("HOBBIES")
    hobbies_response = palm.generate_text(
        prompt=hobbies_prompt + "\n" + "Paragraph:" + transcription
    )
    hobbies = hobbies_response.candidates[0]['output']
    print(hobbies)
    return hobbies

In [13]:
def technical_skills_extraction(transcription):
    print("TECHNICAL SKILLS")
    Technical_skills_response = palm.generate_text(
        prompt=Technical_skills_prompt + "\n" + "Paragraph:" + transcription
    )
    Technical_skills = Technical_skills_response.candidates[0]['output']
    print(Technical_skills)
    return Technical_skills

In [14]:
def interpersonal_skills_extraction(transcription):
    print("INTERPERSONAL SKILLS")
    Interpersonal_skills_response = palm.generate_text(
        prompt=Interpersonal_skills_prompt + "\n" + "Paragraph:" + transcription
    )
    Interpersonal_skills = Interpersonal_skills_response.candidates[0]['output']
    print(Interpersonal_skills)
    return Interpersonal_skills

In [16]:
def area_of_interest_extraction(transcription):
    print("AREA OF INTEREST")
    area_of_interest_response = palm.generate_text(
        prompt=Area_of_interest_prompt + "\n" + "Paragraph:" + transcription
    )
    area_of_interest = area_of_interest_response.candidates[0]['output']
    print(area_of_interest)
    return area_of_interest

In [17]:
def professional_experience_extraction(transcription):
    print("PROFESSIONAL EXPERIENCE")
    Professional_experience_response = palm.generate_text(
        prompt=Professional_experience_prompt + "\n" + "Paragraph:" + transcription
    )
    professional_experience = Professional_experience_response.candidates[0]['output']
    print(professional_experience)
    return professional_experience

In [18]:
def project_experience_extraction(transcription):
    print("PROJECT EXPERIENCE")
    Project_experience_response = palm.generate_text(
        prompt=Project_experience_prompt + "\n" + "Paragraph:" + transcription
    )
    project_experience = Project_experience_response.candidates[0]['output']
    print(project_experience)
    return project_experience

In [19]:
def educational_extraction(transcription):
    print("Educational Qualification")
    Educational_Qualifications_response = palm.generate_text(
        prompt=Educational_Qualifications_prompt + "\n" + "Paragraph:" + transcription
    )
    Educational_Qualifications = Educational_Qualifications_response.candidates[0]['output']
    print(Educational_Qualifications)
    return Educational_Qualifications

In [20]:
def certification_extraction(transcription):
    print("Certification")
    certification_response = palm.generate_text(
        prompt=Certification_prompt + "\n" + "Paragraph:" + transcription
    )
    certification = certification_response.candidates[0]['output']
    print(certification)
    return certification

In [21]:
columns=['Name', 'Contact_Number', 'Email_ID', 'Social_Media_Profile', 'Hobbies','Area_of_interest','Professional_Experience']

In [22]:
def crop_text(text):
    # Find the index of the first occurrence of '{'
    start_index = text.find('{')

    # Find the index of the last occurrence of '}'
    end_index = text.rfind('}')

    # Check if both '{' and '}' are found
    if start_index != -1 and end_index != -1:
        # Crop the text between the first '{' and the last '}'
        cropped_text = text[start_index:end_index+1].strip()
        return cropped_text
    else:
        # Handle the case when '{' or '}' is not found
        return ("")

In [25]:
import PyPDF2
import os
import json
import ast
v=r"E:\kaar\text extraction\2\Aswin S.pdf"
full=[]
with open(v, 'rb') as file:
# Create a PDF reader object
  pdf_reader = PyPDF2.PdfReader(file)

  # Initialize a variable to store the extracted text
  transcription = ''

  # Iterate through all pages and extract text
  for page_num in range(len(pdf_reader.pages)):
        page = pdf_reader.pages[page_num]
        transcription += page.extract_text()
o=[]
name_extract = name_extraction(transcription)
contact_extract = contact_extraction(transcription)
email_extract = email_extraction(transcription)
social_extract = social_extraction(transcription)
hobbies_extract = hobbies_extraction(transcription)
area_of_interest_extract=area_of_interest_extraction(transcription)
technical_skills_extract=technical_skills_extraction(transcription)
interpersonal_skills_extract=interpersonal_skills_extraction(transcription)
professional_experience_extract=professional_experience_extraction(transcription)
professional_experience_extract=crop_text(professional_experience_extract)
project_experience_extract=project_experience_extraction(transcription)
project_experience_extract=crop_text(project_experience_extract)
certification_extract=certification_extraction(transcription)
certification_extract=crop_text(certification_extract)
educational_extract=educational_extraction(transcription)
educational_extract=crop_text(educational_extract)
o.append(name_extract)
o.append(contact_extract)
o.append(email_extract)
o.append(social_extract)
o.append(hobbies_extract)
o.append(area_of_interest_extract)
o.append(technical_skills_extract)
o.append(interpersonal_skills_extract)
o.append(professional_experience_extract)
o.append(project_experience_extract)
o.append(certification_extract)
o.append(educational_extract)

NAME
ASWIN S
CONTACT NUMBER
+91 97872220470
EMAIL
aswinjak2002@gmail.com
SOCIAL MEDIA PROFILE
https://linkedin.com/in/aswin-s-506520202
HOBBIES
No hobbies
AREA OF INTEREST
java,angular,html,css,mysql
TECHNICAL SKILLS
java, angular, html, css, mysql
INTERPERSONAL SKILLS
team work, time management, adaptability
PROFESSIONAL EXPERIENCE
{
"Company": "KAAR TECHNOLOGIES",
"Designation": "Software Engineer Intern",
"Duration": "DEC 2022 - JULY 2023",
"Description": "Developed and launched a web application that connects the people and the medical store. The customers, medical stores and warehouse have different login id to know the status of the medicines. The sales forecasting project involves analysing past sales data, identifying trends and using statistical and analytical methods to predict future sales levels."
}
PROJECT EXPERIENCE
```json
{
  "Project Name": "Student Sentiment Analysis Using Feedback",
  "Duration": "2023",
  "Description": "A web application that connects the people and the medical store. The customers, medical stores and warehouse have different login id to know the status of the medicines.",
  "Client": "E-Pharma"
}
```
Certification
{
  "Certificate_Name": "Programming with Java (NPTEL)",
  "Issuer": "NPTEL"
}
Educational Qualification
{{
  "University/School": "M.Kumarasamy College of Engineering",
  "Qualification": "B.E. Computer Science",
  "CGPA/Percentage": "9.232",
  "Year_of_Completion": "2024"
}}

In [26]:
print(transcription)

+ 9 1  9 7 8 7 2 2 0 4 7 0 a s w i n j a k 2 0 0 2 @ g m a i l . c o m K a r u r ,  T a m i l  N a d uASWIN S
B.E. COMPUTER SCIENCE
CAREER OBJECTIVE
P a s s i o n a t e  a b o u t  i m p l e m e n t i n g  a n d  l a u n c h i n g  n e w
p r o j e c t s .  S e e k i n g  a  b e g i n n e r  r o l e  t o  e n h a n c e  a n d
e x p l o r e  m y  t e c h n i c a l  k n o w l e d g e  g a i n e d .  P r o f i c i e n t  i n
J A V A .  J a p a n e s e  J L P T  ( N 5  L e v e l )  C e r t i f i e d .
EDUCATION
B . E .  C o m p u t e r  S c i e n c e  a n d  E n g i n e e r i n g  2 0 2 0 - 2 0 2 4
B H A R A N I  P A R K  M A T R I C .  H R .  S E C .  S C H O O L
P e r c e n t a g e  -  8 2 . 0 %  H i g h e r  S e c o n d a r y  E d u c a t i o n  2 0 1 9 - 2 0 2 0
B H A R A N I  P A R K  M A T R I C .  H R .  S E C .  S C H O O L
P e r c e n t a g e  -  9 0 . 2 %  S e c o n d a r y  E d u c a t i o n  2 0 1 7 - 2 0 1 8M .  K U M A R A S A M Y  C O L L E G E  O F  E N G I N E E R I N G
C G P A  -  9 . 2 3 2  ( T i l l  5 t h  S e m e s t e r )
S a l e s  F o r e c a s t i n g
S t u d e n t  s e n t i m e n t  a n a l y s i s  u s i n g f e e d b a c k  i s  t h e
p r o c e s s  o f  a n a l y s i n g  s t u d e n t s '  o p i n i o n s a n d  e m o t i o n s
e x p r e s s e d  i n  t h e i r  f e e d b a c k  t o  i m p r o v e  t h e  q u a l i t y  o f
e d u c a t i o n  a n d  l e a r n i n g  e x p e r i e n c e .  S t u d e n t  S e n t i m e n t  A n a l y s i s  U s i n g  F e e d b a c k
A  w e b  a p p l i c a t i o n  t h a t  c o n n e c t s  t h e  p e o p l e  a n d  t h e
m e d i c a l  s t o r e .  T h e  c u s t o m e r s ,  m e d i c a l  s t o r e s a n d
w a r e h o u s e  h a v e  d i f f e r e n t  l o g i n  i d  t o  k n o w  t h e  st a t u s o f
t h e  m e d i c i n e s .  E - P H A R M  A  s a l e s  f o r e c a s t i n g  p r o j e c t  i n v o l v e s a n a l y si n g  p a st
s a l e s  d a t a ,  i d e n t i f y i n g  t r e n d s  a n d  u s i n g  s t a t i s t i c a l  a n d
a n a l y t i c a l  m e t h o d s  t o  p r e d i c t  f u t u r e  s a l e s l e v e l s.  T h e
r e s u l t i n g  f o r e c a s t s  c a n  b e  u s e d  t o  gu i d e  b u si n e ss
d e c i s i o n s  a n d  s e t  a c h i e v a b l e  s a l e s  go a l s.  PROJECTSW e b  D e v e l o p m e n tAREA OF INTEREST
TECHNICAL SKILLS
J A V A
M y S Q L
A N G U L A R
H T M L
C S S
SOFT SKILLS
T i m e  M a n a g e m e n t
T e a m w o r k
A d a p t a b i l i t y
D E C  2 0 2 2  -  J U L Y  2 0 2 3K A A R  T E C H N O L O G I E S
1 1 t h  A P R I L  2 0 2 2  -  2 5 t h  A P R I L  2 0 2 2  M K C S  D I G I T T E C H  S O L U T I O N S  INTERNSHIPS
J a p a n e s e  L a n g u a g e  P r o f i c i e n c y
T e s t  ( N 5 )
P r o g r a m m i n g  w i t h  j a v a  ( N P T E L )  CERTIFICATIONS
LANGUAGES
T a m i l
E n g l i s h
H i n d i
J a p a n e s el i n k e d i n . c o m / i n / a s w i n - s - 5 0 6 5 2 0 2 0 2
I  h e r e b y  d e c l a r e  t h a t  t h e  i n f o r m a t i o n  f u r n i s h e d  a b o v e  i s  t r u e  t o  t h e  b e st  o f  m y  k n o w l e d g e  a n d  b e l i e f .DECLARATION
P L A C E  :  K a r u rD A T E  :   ( A S W I N  S )h t t p s : / / g i t h u b . c o m / a s w i n j a k

### Preprocessing of Personal_df

In [27]:
column_names = ['Name', 'Contact_Number', 'Email_ID', 'Social_Media_Profile', 'Hobbies']
personal_df=pd.DataFrame(columns=column_names)
new_record = [name_extract,contact_extract,email_extract,social_extract,hobbies_extract]

# Add the new record to the DataFrame
personal_df.loc[len(personal_df)] = new_record
# Display the DataFrame
print(personal_df)

      Name   Contact_Number                Email_ID  \
0  ASWIN S  +91 97872220470  aswinjak2002@gmail.com

                        Social_Media_Profile     Hobbies
0  https://linkedin.com/in/aswin-s-506520202  No hobbies

### Preprocessing of Professional_Experience

In [28]:
professional_experience_extract

'{\n"Company": "KAAR TECHNOLOGIES",\n"Designation": "Software Engineer Intern",\n"Duration": "DEC 2022 - JULY 2023",\n"Description": "Developed and launched a web application that connects the people and the medical store. The customers, medical stores and warehouse have different login id to know the status of the medicines. The sales forecasting project involves analysing past sales data, identifying trends and using statistical and analytical methods to predict future sales levels."\n}'

In [29]:
professional_experience_extract=professional_experience_extract.replace("\n","")
professional_experience_extract

'{"Company": "KAAR TECHNOLOGIES","Designation": "Software Engineer Intern","Duration": "DEC 2022 - JULY 2023","Description": "Developed and launched a web application that connects the people and the medical store. The customers, medical stores and warehouse have different login id to know the status of the medicines. The sales forecasting project involves analysing past sales data, identifying trends and using statistical and analytical methods to predict future sales levels."}'

In [30]:
if professional_experience_extract[0]!='[':
    json_string_with_brackets = '[' + professional_experience_extract + ']'
else:
    json_string_with_brackets=professional_experience_extract

In [31]:
json_string_with_brackets

'[{"Company": "KAAR TECHNOLOGIES","Designation": "Software Engineer Intern","Duration": "DEC 2022 - JULY 2023","Description": "Developed and launched a web application that connects the people and the medical store. The customers, medical stores and warehouse have different login id to know the status of the medicines. The sales forecasting project involves analysing past sales data, identifying trends and using statistical and analytical methods to predict future sales levels."}]'

In [32]:
professionl_data_list = json.loads(json_string_with_brackets)

In [33]:
professional_df=pd.DataFrame(professionl_data_list)

In [34]:
professional_df

,Company,Designation,Duration,Description
0,KAAR TECHNOLOGIES,Software Engineer Intern,DEC 2022 - JULY 2023,Developed and launched a web application that ...

### Preprocessing of Project Experience

In [35]:
project_experience_extract

'{\n  "Project Name": "Student Sentiment Analysis Using Feedback",\n  "Duration": "2023",\n  "Description": "A web application that connects the people and the medical store. The customers, medical stores and warehouse have different login id to know the status of the medicines.",\n  "Client": "E-Pharma"\n}'

In [36]:
project_experience_extract=project_experience_extract.replace("\n","")
project_experience_extract

'{  "Project Name": "Student Sentiment Analysis Using Feedback",  "Duration": "2023",  "Description": "A web application that connects the people and the medical store. The customers, medical stores and warehouse have different login id to know the status of the medicines.",  "Client": "E-Pharma"}'

In [37]:
if project_experience_extract[0]!='[':
    project_json_string_with_brackets = '[' + project_experience_extract + ']'
else:
    project_json_string_with_brackets=project_experience_extract

In [38]:
project_json_string_with_brackets

'[{  "Project Name": "Student Sentiment Analysis Using Feedback",  "Duration": "2023",  "Description": "A web application that connects the people and the medical store. The customers, medical stores and warehouse have different login id to know the status of the medicines.",  "Client": "E-Pharma"}]'

In [39]:
project_data_list = json.loads(project_json_string_with_brackets)

In [40]:
project_df=pd.DataFrame(project_data_list)

In [41]:
project_df

,Project Name,Duration,Description,Client
0,Student Sentiment Analysis Using Feedback,2023,A web application that connects the people and...,E-Pharma

### Preprocessing of Certification

In [42]:
certification_extract

'{\n  "Certificate_Name": "Programming with Java (NPTEL)",\n  "Issuer": "NPTEL"\n}'

In [43]:
certification_extract=certification_extract.replace("\n","")
certification_extract

'{  "Certificate_Name": "Programming with Java (NPTEL)",  "Issuer": "NPTEL"}'

In [45]:
if certification_extract[0]!='[':
    certification_json_string_with_brackets = '[' + certification_extract + ']'
else:
    certification_json_string_with_brackets=certification_extract

In [46]:
certification_json_string_with_brackets

'[{  "Certificate_Name": "Programming with Java (NPTEL)",  "Issuer": "NPTEL"}]'

In [47]:
certification_data_list = json.loads(certification_json_string_with_brackets)

In [48]:
certification_df=pd.DataFrame(certification_data_list)

In [49]:
certification_df

                Certificate_Name Issuer
0  Programming with Java (NPTEL)  NPTEL

### Preprocessing of Education

In [50]:
educational_extract

'{{\n  "University/School": "M.Kumarasamy College of Engineering",\n  "Qualification": "B.E. Computer Science",\n  "CGPA/Percentage": "9.232",\n  "Year_of_Completion": "2024"\n}}'

In [51]:
educational_extract=educational_extract.replace("\n","")
educational_extract

'{{  "University/School": "M.Kumarasamy College of Engineering",  "Qualification": "B.E. Computer Science",  "CGPA/Percentage": "9.232",  "Year_of_Completion": "2024"}}'

In [74]:
if educational_extract[0]!='[':
    education_json_string_with_brackets = '[' + educational_extract + ']'
else:
    education_json_string_with_brackets=educational_extract

In [75]:
education_json_string_with_brackets

'[{{  "University/School": "M.Kumarasamy College of Engineering",  "Qualification": "B.E. Computer Science",  "CGPA/Percentage": "9.232",  "Year_of_Completion": "2024"}}]'

In [76]:
# education_json_string_with_brackets = str(education_json_string_with_brackets)
display(education_json_string_with_brackets)

'[{{  "University/School": "M.Kumarasamy College of Engineering",  "Qualification": "B.E. Computer Science",  "CGPA/Percentage": "9.232",  "Year_of_Completion": "2024"}}]'

In [77]:
education_data_list = json.loads(education_json_string_with_brackets[1:-2])

JSONDecodeError: Expecting property name enclosed in double quotes: line 1 column 2 (char 1)

In [55]:
education_df=pd.DataFrame(education_data_list)

NameError: name 'education_data_list' is not defined

In [51]:
education_df

,University/School,Qualification,CGPA/Percentage,Year_of_Completion
0,M.KUMARASAMY COLLEGE OF ENGINEERING,B.E. COMPUTER SCIENCE,9.232,2024

### Preprocessing of Area of Interest

In [52]:
area_list=area_of_interest_extract.split(",")
area_df=pd.DataFrame(area_list,columns=["Area_of_Interest"])
area_df

  Area_of_Interest
0             java
1            mySql
2          angular
3             html
4              css

### Preprocessing of Technical Skills

In [53]:
technical_list=technical_skills_extract.split(",")
technical_df=pd.DataFrame(technical_list,columns=["Technical_Skills"])
technical_df

  Technical_Skills
0             java
1          angular
2            mysql
3             html
4              css

### Preprocessing of Interpersonal Skills

In [54]:
interpersonal_list=interpersonal_skills_extract.split(",")
interpersonal_df=pd.DataFrame(interpersonal_list,columns=["Interpersonal_Skills"])
interpersonal_df

  Interpersonal_Skills
0      time management
1             teamwork
2         adaptability

### Tkinter Application

In [56]:
import tkinter as tk
from tkinter import ttk
import pandas as pd

class ResumeEditorApp:
    def __init__(self, root, df):
        self.root = root
        self.root.title("Resume Editor")

        # Store original personal_df
        self.original_personal_df = df.copy()

        self.current_row_index = 0

        # Create a frame for the content
        self.content_frame = ttk.Frame(root)
        self.content_frame.pack(fill='both', expand=True)

        # Create labels and entry widgets for each column of personal_df
        self.create_widgets_for_personal_dataframe(df)

        # Add a Save button for personal_df
        save_button_personal = ttk.Button(self.content_frame, text="Save Changes", command=self.save_changes_personal)
        save_button_personal.grid(row=self.current_row_index, columnspan=len(df.columns) * 2, pady=10)

    def create_widgets_for_personal_dataframe(self, df):
        # Increase the width and height of the widgets
        label_width = 20
        entry_width = 10
        font_size = 9

        # Create labels for each column
        for col_index, col_name in enumerate(df.columns):
            col_label = tk.Label(self.content_frame, text=col_name, width=label_width)
            col_label.grid(row=self.current_row_index, column=col_index * 2, padx=5, pady=5, sticky=tk.E)

            # Create entry widgets for each record in the column
            for row_index, value in enumerate(df[col_name]):
                entry = tk.Entry(self.content_frame, width=entry_width, font=("Arial", font_size))
                entry.insert(tk.END, str(value))  # Convert to string in case of numeric values
                entry.grid(row=row_index + 1, column=col_index * 2 + 1, padx=5, pady=5)

        # Update the current row index for the next DataFrame
        self.current_row_index += len(df) + 2

    def save_changes_personal(self):
        # Update the original personal_df with the edited values
        df = self.original_personal_df

        for col_index, col_name in enumerate(df.columns):
            updated_values = [entry.get() for entry in self.content_frame.children.values() if isinstance(entry, tk.Entry) and entry.grid_info()['column'] == col_index * 2 + 1]

            # Check if the length of updated values matches the length of the original dataframe
            if len(updated_values) == len(df):
                df[col_name] = updated_values
            else:
                print(f"Length mismatch for {col_name} in personal_df. Expected {len(df)} values, got {len(updated_values)}.")

        # You can print or store the updated dataframe as needed
        print("Updated dataframe:")
        print(df)


if __name__ == "__main__":
    # Sample personal_df (you should replace this with your actual personal_df)
    #personal_df = pd.DataFrame({'Name': ['John Doe'], 'Contact_Number': ['1234567890'], 'Email_ID': ['john@example.com'], 'Social_Media_Profile': ['LinkedIn'], 'Hobbies': ['Reading']})

    root = tk.Tk()
    app = ResumeEditorApp(root, personal_df)
    app1 = ResumeEditorApp(root, education_df)
    app2 = ResumeEditorApp(root, area_df)
    app3 = ResumeEditorApp(root, technical_df)
    app4 = ResumeEditorApp(root, interpersonal_df)
    app5 = ResumeEditorApp(root, certification_df)
    app6 = ResumeEditorApp(root, project_df)
    app7 = ResumeEditorApp(root, professional_df)
    root.mainloop()

Updated dataframe:
      Name Contact_Number                Email_ID  \
0  ASWIN S   +91 97820470  aswinjak2002@gmail.com

          Social_Media_Profile         Hobbies
0  https://github.com/aswinjak  Playing guitar

### Getting Unique ID for new record

In [140]:
import mysql.connector
import pandas as pd

# Connect to the MySQL database
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Muruga@123",
    database="resume"
)

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Step 1: Check if the table exists
cursor.execute("SHOW TABLES LIKE 'Personal_Details'")
table_exists = cursor.fetchone()

if table_exists:
    # Step 2: Retrieve the maximum existing ID from the "Personal_Details" table
    cursor.execute("SELECT MAX(ID) FROM Personal_Details")
    max_id = cursor.fetchone()[0]

    # Step 3: Increment the retrieved maximum ID to generate a new unique ID
    new_id = int(max_id) + 1 if max_id is not None else 1

    # Assuming df is your DataFrame

    # Commit the changes and close the connection
    conn.commit()
else:
    # Handle the case when the table doesn't exist
    new_id = 1
personal_df['ID']=new_id
professional_df['ID']=new_id
project_df['ID']=new_id
certification_df['ID']=new_id
education_df['ID']=new_id
area_df['ID']=new_id
technical_df['ID']=new_id
interpersonal_df['ID']=new_id

cursor.close()
conn.close()

In [141]:
personal_df

,Name,Contact_Number,Email_ID,Social_Media_Profile,Hobbies,ID
0,ASWIN S,+91 97872220470,aswinjak2002@gmail.com,https://www.linkedin.com/in/aswin-s-506520202,Music,1

In [142]:
professional_df

,Company,Designation,Duration,Description,ID
0,KAAR TECHNOLOGIES,Software Engineer Intern,Dec 2022 - July 2023,Developed an application that connects people ...,1

In [143]:
project_df

,Project Name,Duration,Description,Client,ID
0,E-Pharma,Dec 2022 - July 2023,A web application that connects the people and...,KAAR TECHNOLOGIES,1

In [144]:
certification_df

,Certificate_Name,Issuer,ID
0,Japanese Language Proficiency Test (N5 Level),"The Japan Foundation, Tokyo",1

In [145]:
education_df

,University/School,Qualification,CGPA/Percentage,Year_of_Completion,ID
0,M. Kumarasamy College of Engineering,B.E. Computer Science and Engineering,9.232,2020-2024,1

In [146]:
area_df

          0  ID
0      java   1
1   angular   1
2      html   1
3       css   1

In [147]:
technical_df

          0  ID
0      java   1
1      html   1
2       css   1
3     mysql   1
4   angular   1

In [165]:
interpersonal_df = interpersonal_df.rename({'0':'Interpersonal_Skills'})
interpersonal_df

                                    0  ID
Interpersonal_Skills  time management   1
1                            teamwork   1
2                        adaptability   1